@model FakeStore2.Persistence.Costumer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Costumer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostumerSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostumerSince)
        </dd>

<<<<<<< HEAD
        <dt>
            @Html.DisplayNameFor(model => model.Orders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.Count)
        </dd>


=======
>>>>>>> 208d0483a107369dfc9c869a133cc5a99d68911a
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CostumerId }) |
<<<<<<< HEAD
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Orders", "Costumer", "Orders", new { id = Model.CostumerId }, null)

=======
    @Html.ActionLink("Back to List", "Index")
>>>>>>> 208d0483a107369dfc9c869a133cc5a99d68911a
</p>
