@model TodoApp.Models.Todo.TodoItemModel
@{
    var action = Model.TodoId == 0 ? "CreateTodo" : "Edit";
    var title = Model.TodoId == 0 ? "Create Todo" : "Edit";
}

<h1>@title</h1>
<br/>
@using (Html.BeginForm(action,"Todo")) 
{
    <div class="container">
        <!--<input asp-for=TodoName class="form-control mb-2" type="text" placeholder="Todo Name">-->
        <div class="form-group">
            <label>Todo</label>
            @Html.EditorFor(x => x.TodoName, new { @class = "form-control mb-2", type = "text", placeholder = "Todo Name" })
        </div>
       
        <div class="form-group">
            <label>Done?</label>
            @Html.EditorFor(x => x.Done, new { @class = "form-control mb-2", type = "text", placeholder = "Done?" })
            @Html.HiddenFor(x => x.TodoId)
        </div>
        
        <button class="btn btn-success" type="submit">@title</button>
    </div>
}


